html {
    background: url("images/bg.jpg")center no-repeat;
    background-size: 100% 100%;
}

body {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

ul {
    list-style-position: inside;
}

footer img {
    max-height: 30px;
}

#searchIcon {
    max-height: 30px;
}

#search li {
    display: inline-block;
    text-decoration: none;
}

.day li {
    display: block;
}

a:hover {
    text-size: 110%;
}

.button {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

//.button:hover {background-color: #3e8e41}
.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.boxed {
    border-style: solid;
    width: 100%;
    min-height: 200px;
    overflow: scroll;
}

footer li {
    display: inline-block;
    text-decoration: none;
    padding-top: 30px;
}
