html {
    background: url("images/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:link {
    color: black;
}


/* visited link */

a:visited {
    color: black;
}


/* mouse over link */

a:hover {
    background-color: aliceblue;
    /*    font-weight: 120%;*/
}


/* selected link */

a:active {
    color: black;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 150%;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
}

ul,
ol {
    list-style-position: inside;
}

footer img {
    max-height: 30px;
}

#searchIcon {
    max-height: 30px;
}

#ingredient1 li {
    list-style-type: none;
}

#ingredient2 li {
    list-style-type: none;
}

#menu li {
    list-style-type: none;
}

#search ul>li {
    list-style-type: none;
}

.list li {
    list-style-type: integer;
}

a:hover {
    font-size: 130%;
}

.button,
.selectButton {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 0;
    box-shadow: 0px 0px 20px #999;
    background-image: url(images/button-bg.png);
    background-repeat: repeat-x;
    background-position: center;
    font-size: 120%;
    padding: 5px 10px;
    border-radius: 5px;
}


/*.button:hover {background-color: #3e8e41}*/

.button,
.selectButton:active {
    /*    box-shadow: 0 5px #666;*/
    box-shadow: 0px 0px 20px #000;
    transform: translateY(4px);
}

.boxed {
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
}

.boxed:after {
    content: "";
    display: table;
    clear: both;
}

footer li {
    display: inline-block;
    text-decoration: none;
    padding-top: 30px;
}

.highlight {
    font-weight: 200%;
}

.ingredientBox {
    max-height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.item {
    min-height: 320px;
}

.stroked {
    text-decoration: line-through;
}

.item,
ul,
.title {
    font-size: 110%;
}
